html, body{
    margin:0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

#container{
    position: relative;
}

.box{
    font-size:50px;
    display: block;
    position: relative;
    width:120px;
    height:120px;
    padding:20px;
    background-color: gray;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    opacity:1;
}

.box .time{
    font-size:14px;
    position: absolute;
    bottom: 0;
    right:0;
    margin: 10px;
}